{{> menu active="about"}}

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h2 class="title has-text-centered">About UNESCO World Heritage</h2>
      <div class="columns is-centered">
        <div class="column is-half">
          <div class="box">
            <h3 class="subtitle">Overview</h3>
            <p>Heritage is our legacy from the past, what we live with today, and what we pass on to future generations. Our cultural and natural heritage are both irreplaceable sources of life and inspiration.</p>
          </div>
          <div class="box">
            <h3 class="subtitle">UNESCO</h3>
            <p>The United Nations Educational, Scientific and Cultural Organization (UNESCO) seeks to encourage the identification, protection and preservation of cultural and natural heritage around the world considered to be of outstanding value to humanity.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
