{{> welcome-menu}}
<div class="columns is-centered is-vcentered" style="height: 100vh;">
  <div class="column is-half">
    <div class="box un-padding" style="height: 50%;">
      <div class="test columns is-vcentered">
        <div class="column has-text-centered">
          <h1 style="font-size: 2rem;">Login</h1> <!-- Adjust the font size as needed -->
          <div style="padding:40px">
            Use your email and password to login into your account
          </div>
          <a class="button colored-btn" id="login" href="/login"> Log in </a>
          {{!-- <button class="button is-primary is-large">Login</button> --}}
        </div>
        <div class="column has-text-centered is-colored">
          <h1 style="font-size: 2rem;">Hi there!</h1> <!-- Adjust the font size as needed -->
          <div style="padding:40px">
            If you don't have an account, you can sign up here.
          </div>
          <a class="button" id="signup" href="/signup"> Sign up </a>
        </div>
      </div>
    </div>
  </div>
</div>

