{{> menu}}
   <div class="column title has-text-centered">
      {{playlist.title}}
    </div>
<section class="section columns">
  <div class="column has-text-centered">
    {{> list-tracks}}
  </div>
  <div class="column">
    <div>
      {{> playlist-image }}
    </div>
    <div class="mt-4">
      {{> add-tracks}}
    </div>
  </div>
</section>
