<form class="box" action="/playlist/{{playlist._id}}/addtrack" method="POST">
  <label>Add World Heritage:</label>
  <div class="field">
    <div class="">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Title" name="title">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Artist" name="artist">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter duration" name="duration">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter duration" name="lat">
      </div>
       <div class="field">
        <input class="input" type="text" placeholder="Enter descr" name="description">
      </div>
       <div class="field">
        <input class="input" type="text" placeholder="Enter duration" name="img">
      </div>
      <div>
     <button class="button colored-btn">Add Heritage</button>
  </div>
    </div>
  </div>  
</form>
