<div class="box">
<form action="/dashboard/addplaylist" method="POST">
  <div class="field">
    <label class="label">Country</label> <input class="input" type="text" placeholder="Enter Country" name="title">
  </div>
  <button class="button colored-btn">Add Country</button>
</form>
</div>