<nav class="navbar pt-4">
  <div class="navbar-brand">
    {{> playtime-brand}}
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a id="dashboard" class="button colored-btn" href="/dashboard"> Dashboard </a>
          <a id="account" class="button colored-btn" href="/account"> Account </a>
          <a id="about" class="button colored-btn" href="/about"> About </a>
          <a id="logout" class="button colored-btn" href="/logout"> Logout </a>
        </div>
      </div>
    </div>
  </div>
</nav>